{% extends 'template2.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 style="text-align: center">Ajouter un étudiant</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="{{ path('etudiant.add') }}" method="post">
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </form>
            </div></div>
    </div>

{#    {{ form(form) }}#}
{% endblock %}